 @media (min-width: 768px) {
           
                header { 
                    padding: 30px;
                }
    
    
    
    
            .home {
                flex-direction: row;
                text-align: left;
                gap: 2rem;
            }

            .home img {
                margin-top: 0;
            }
        }